version: '3.6'

services:
  php:
    build:
        context: ../..
        dockerfile: ./docker.d/dockerfiles/Dockerfile-php
        args:
            PROJECT_SOURCE_DIR: /var/www/personnal-page
    container_name: personnal-page-php
    restart: always
    environment:
      - TZ=Europe/Paris
      - CORS_ALLOW_ORIGIN=^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$$
      - PROJECT_SOURCE_DIR=/var/www/personnal-page
    volumes:
      - $PWD/sources:/var/www/personnal-page
    networks:
      - public-vlan

networks: 
  public-vlan:
    external: true